@media (min-width: 768px) {
#page-wrapper {
    position: inherit;
    margin: 0 0 0 0;
    min-height: 1200px;
}

}

.navbar-fixed-top, .navbar-static-top {
	background: #fff;
}

.borderless {
	border: none;
	background-color: transparent;
	padding: 10px;
	outline: none;
	display: table-cell;
	width: 100%;
}

.borderless:focus {
    background-color: #fafafa;
}